* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: yellow;
  padding: 20px;
  background-color: black;
  border: 2px solid yellow;
  border-radius: 100%;
}
